.product-detail {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}

.product-image-container {
  flex: 1 1 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image-large {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product-info-container {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}

.product-title {
  font-size: 2rem;
  margin: 0;
}

.product-price {
  font-size: 1.5rem;
  color: #333;
}

.product-description {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
}

.buy-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buy-button:hover {
  background-color: #2980b9;
}

.cart-icon {
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
  .product-detail {
    flex-direction: column; /* Empilha as informações no mobile */
    align-items: center;
    padding: 10px;
  }

  .product-image-container {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .product-info-container {
    max-width: 100%;
    text-align: center; /* Centraliza as informações no mobile */
  }

  .product-image-large {
    width: 80%; /* Ajusta o tamanho da imagem */
    margin: 0 auto;
  }

  .product-title {
    font-size: 1.5rem;
  }

  .product-price {
    font-size: 1.2rem;
  }

  .buy-button {
    margin-top: 20px;
    padding: 1rem 2rem;
  }
}