.icon {
    width: 24px;
    height: 24px;
}

.icon-white {
    fill: white;
}

.w100 {
    width: 100%;
}

.w80 {
    width: 80%;
}

.p0 {
    padding: 0;
}

a {
    all: unset;
    cursor: pointer;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
    gap: 50px;
}

.space-between {
    justify-content: space-between;
}

.center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}